body{
    background-color: rgba(143,149,163,0.2)
}
a{
    font:14px;
    color: #fff;
    text-decoration: none;
}
.diagonal_swipe_left{
    text-decoration: none;
 
    color: #fff;
    overflow: hidden;
    z-index: 1;
    position: relative;
    -webkit-transition: 0.3s ease-out;
    transition: 0.3s ease-out;
      width: 100px;
      height: 30px;
      text-align: center;
      color: #fff;
      background-color: #f69721;
        border:1px solid #f69721;
   
    margin:7px;
   }
 
    .diagonal_swipe_left:before {
 
        content: '';
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    width: 100%;
    height: 0%;
    -webkit-transform: translateX(-100%);
    transform: translateX(-100%);
    border-right: 50px solid #f69721;
    border-bottom: 80px solid #313486;
    -webkit-transition: 0.5s;
    transition: 0.5s;
    z-index: -1;
}    

    .diagonal_swipe_left:hover {
    -webkit-box-shadow: 0 5px 20px rgba(0, 0, 0, 0.5);
    box-shadow: 0 5px 20px rgba(0, 0, 0, 0.5);
    cursor: pointer;
    -webkit-transition-delay: 0.1s;
    transition-delay: 0.1s;
    color: #ffffff;
    z-index: 8;
            border:1px solid #313486;
}
    .diagonal_swipe_left:hover:before {
    -webkit-transform: translateX(0);
    transform: translateX(0);
     
}



@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@500&family=Orelega+One&family=Zen+Dots&display=swap');
p{
    font-size: 16px;
    font-family: sans-serif, cursive ;
    
}
