*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
@import url('https://fonts.googleapis.com/css2?family=Potta+One&display=swap');
h1{
    color:dark;
    font-size: 50px;/* Տառերի  չափս*/
    text-align:center;/*justify,center,end,start Տեքստի հավասարեցումը*/
    font-weight:bold;/*100-900   bold,bolder,normal,lighter*Տառերի հաստություն*/  
    letter-spacing: 5px;/*Տառերի հեռավորությունը*/
    line-height: 70px;   /*Գծի բարձրությունը*/
    text-transform: capitalize;/*lowercase,uppercase,capitalize,
տեքստի վերափոխում մեծաթառ-փոքրատառ*/
    text-shadow: 1px 1px 2px black;/*Տառի շողք */
    font-family:  'Potta One', cursive;
    padding: 60px;
}
a{
    font-size: 20px; 
    margin: 1px;
    
}
a:hover{
color: #91FFF0;
    font-size:17px;
    font-weight: 600;
}
a:focus{
    color: red;

}
.marz{
    color: red;
    font-size: 55px;
    font-weight: bold;
    text-shadow:1px 1px 5px black;
}
.tyn{
    color: blue;
     font-size: 55px;
    font-weight: bold;
    text-shadow: 1px 1px 5px black;
}
.narnjagyun{
    color: #FFC124;
     font-size: 55px;
    font-weight: bold;
    text-shadow: 1px 1px 5px black;
}





.mydiv{
    width: 100%;/*px,%,vh,vw*/
    height: 600px;
    background: url('../img/4e3b4805d448ecb205158eb2ac72595c.jpg');
    background-attachment: fixed;/*fixed,scroll,local,inherit*/
    background-repeat: no-repeat;
    background-size: cover;
}
 table, th,  td {
    width: 58%; 
   margin: auto;
    border: 1px solid white;
    border-collapse: collapse;
    text-align: center;
    font-size: 16px;
    color: #fff;
  
}

th, td {
    padding: 8px;
}
.link{
    background: rgba(48,138,228,0.2);
   width: 100%;
    height: 70px;
    padding: 20px;
   
    
}
.hamar  {
    background:rgba(48,138,228,0.2);;
   margin: 10px;
    padding: 10px 50px;
}


a{
    text-decoration: none;
}



